@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'var.css';
@import 'button.css';
@import '../fonts/Pretendard.css';
@import '../fonts/Montserrat.css';
/* 2023-04-28 :: START :: KSM : 디버깅시 사용 */
.RR{outline:1px dashed red;}
.RRR > *{outline:1px dashed red;}
.FLEX{display:flex;}
.GRID{display:grid;}
/* // 2023-04-28 :: END :: KSM : 디버깅시 사용 */
/* 2023-05-24 :: START :: KSM : 규약 */
.Montserrat{ font-family:'Montserrat', Pretendard, sans-serif; }
.AccordionWrap{overflow:hidden;transition:all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);will-change:auto;}
/**/
.StickyBox{}
.StickyBox > .Shell{}
.StickyBox.Sticky > .Shell{ z-index:999; }
/**/
.FixedBox{ }
.FixedBox > .Shell{ position:fixed; left:0; z-index:999; width:100%; }
/**/
.SyncHeight{}
/* // 2023-05-24 :: END :: KSM : 규약 */
/**/
:root{-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;overflow-wrap:break-word;word-break:break-word;tab-size:4;}
/* 터치시 영역 색상  */
/*:root{-webkit-tap-highlight-color:transparent;}*/
*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before{box-sizing:border-box;flex-shrink:0;}
body, input, select, textarea{font-family:'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';}
html, body{height:100%;}
img, picture, video, canvas, svg{display:block;max-width:100%;}
button{background:none;border:0;cursor:pointer;}
a{text-decoration:none;}
table{border-collapse:collapse;border-spacing:0;}
/* iOS safari 클릭 딜레이 방지 */
html{-ms-touch-action:manipulation;touch-action:manipulation;}
ul{list-style:none;}
/**/
html, body{line-height:1;}
body{position:relative;width:100%;min-width:var(--body-min-width);}
body{opacity:0;}
body.On{opacity:1;}
/* 스크롤 너비는 유지하면서 스크롤은 막음 */
body.Prevent-Scroll{ position:fixed; overflow-y:scroll; }
/*body.Prevent-Scroll{ overflow-y:scroll; }*/
/*body.Prevent-Scroll #page{ height:100vh; overflow:hidden; }*/
/**/
main{position:relative;padding-bottom:80px;}
/**/
/* [disabled]{pointer-events:none;opacity:0.5;} */
/**/
.H-Box{display:grid;align-items:center;justify-content:center;grid-template-columns: minmax(var(--body-min-width), var(--contents-max-width));}
.H-Box > .Inner{margin-left:var(--contents-side-padding);margin-right:var(--contents-side-padding);}
.H-Box > .Inner.NoMargin{margin-left:0;margin-right:0;}
/* 640px 이상 화면*/
@media screen and (min-width:640px){
  /*.H-Box > .Inner{ margin-left:var(--contents-side-padding-sm); margin-right:var(--contents-side-padding-sm); }*/
}
/* 768px 이상 화면*/
@media screen and (min-width:768px){
  /*.H-Box > .Inner{ margin-left:var(--contents-side-padding-md); margin-right:var(--contents-side-padding-md); }*/
}
/* 1024px 이상 화면*/
@media screen and (min-width:1024px){
  /*.H-Box > .Inner{ margin-left:var(--contents-side-padding-lg); margin-right:var(--contents-side-padding-lg); }*/
}
/* 1280px 이상 화면*/
@media screen and (min-width:1280px){
  /*.H-Box > .Inner{ margin-left:var(--contents-side-padding-xl); margin-right:var(--contents-side-padding-xl); }*/
}
/**/
.Link1{color:var(--color1);text-decoration:underline;}
/**/
.swiper{user-select:none;}
/**/
.Btn1{height:38px;font-weight:300;font-size:14px;color:var(--color1);padding:12px 14px;}
.Btn1.Bold{font-weight:500;}
.Btn2{ display:flex; align-items:center; justify-content:center; }
.Btn2{ min-width:140px; height:38px; border:1px solid var(--color5); padding-left:30px; padding-right:30px; }
.Btn2{ font-weight:400; font-size:14px; color:var(--color1); }
.Btn3{ display:flex; align-items:center; justify-content:center; }
.Btn3{ min-width:120px; height:43px; border:1px solid white; padding-left:22px; padding-right:22px; }
.Btn3{ font-weight:400; font-size:14px; color:white; }
/**/
.AlertBtn1{ display:flex; align-items:center; justify-content:center; }
.AlertBtn1{ background-color:var(--color1); height:55px; }
.AlertBtn1{ font-weight:400; font-size:14px; color:white; }
.AlertBtn1{ display:flex; align-items:center; justify-content:center; }
.AlertBtn2{ background-color:var(--color7); height:55px; }
.AlertBtn2{ font-weight:400; font-size:14px; color:var(--color1); }
/**/
img.Unknown{width:auto;height:auto;}
/**/
.PriceBox{display:inline-flex;flex-wrap:wrap;gap:6px;}
.PriceBox{font-size:13px;font-weight:600;}
.PriceBox{font-family:'Montserrat', sans-serif;}
.PriceBox .Sale{ font-weight:300; text-decoration:line-through; opacity:.4; }
/**/
.FlagBltBox{ display:flex; flex-wrap:wrap; align-items:center; justify-content:flex-start; gap:8px; }
.FlagBlt{ display:inline-flex; align-items:center; justify-content:center; }
.FlagBlt{ height:18px; min-width:48px; padding-left:3px; padding-right:3px; text-align:center; font-size:11px; font-weight:400; }
.FlagBlt{ border:1px solid var(--color1); background-color:white; color:var(--color1); }
.FlagBlt.Type1{ border:1px solid var(--color1); background-color:var(--color1); color:white; }
.FlagBlt.Type2{ border:1px solid var(--color2); background-color:var(--color2); color:white; }
/**/
.HideScroll{ -ms-overflow-style:none; }
.HideScroll::-webkit-scrollbar{ display:none; }
/**/
.TimeBox{ font-size:12px; font-weight:600; color:var(--color1); }
.TimeBox{ display:flex; align-items:center; justify-content:flex-start; gap:4px; }
.TimeBox > .Num{ border-radius:6px; width:34px; height:25px; }
.TimeBox > .Num{ display:flex; align-items:center; justify-content:center; background-color:var(--color6); }
/**/
.TextInput1{ font-weight:400; font-size:12px; color:var(--color1); }
.TextInput1{ height:100%; outline:none; }
.TextInput1::placeholder{ color:var(--color3); }
/**/
.TextInput2{ border:1px solid var(--color3); border-radius:2px; height:36px; box-sizing:border-box; padding:0 10px; outline:none; }
.TextInput2{ font-weight:400; font-size:14px; color:var(--color1); }
.TextInput2.focus,
.TextInput2:focus{ border-color:var(--color1); }
.TextInput2.On{ border-color:var(--color1); }
.TextInput2 ~ .Options{ min-width:100%; z-index:10; position:absolute; margin-top:10px; background-color:white; border:1px solid var(--color3); border-radius:4px; padding:5px 6px; }
.TextInput2 ~ .Options{ display:none; }
.TextInput2 ~ .Options > button{ white-space:nowrap; }
.TextInput2.On ~ .Options{ display:block; }
.TextInput2 ~ .Options > button{ display:block; width:100%; text-align:left; font-weight:400; font-size:14px; color:var(--color1); height:34px; padding:0 16px; border-radius:4px; }
.TextInput2 ~ .Options > button:hover{ background-color:var(--color1); color:white; }
.TextInput2::placeholder{ color:var(--color3); }
/**/
.TextInput3{ display:inline-flex; align-items:center; }
.TextInput3{ border:1px solid var(--color3); height:36px; border-radius:4px; box-sizing:border-box; padding-left:10px; padding-right:14px; }
.TextInput3.focus{ border-color:var(--color1); }
.TextInput3 > input{ outline:none; box-sizing:border-box; font-size:14px; color:var(--color1); height:100%; }
/**/
.TAREA-1{ --padding:8px; }
.TAREA-1{ overflow-y:scroll; height:150px; border:1px solid var(--form-border-color); border-radius:var(--form-border-radius); outline:none; }
.TAREA-1{ font-weight:400; font-size:var(--form-font-size); color:var(--color1); line-height:140%; }
.TAREA-1{ padding:var(--padding); display:block; width:100%; }
.TAREA-1:focus{ border-color:#86B7FE; box-shadow:0 0 0 0.25rem rgb(13 110 253 / 25%); }
.TAREA-1::placeholder{ color:var(--color3); }
/**/
.TAREA-1{ --padding:8px; }
.TAREA-1{ overflow-y:scroll; height:150px; border:1px solid var(--form-border-color); border-radius:var(--form-border-radius); outline:none; }
.TAREA-1{ font-weight:400; font-size:var(--form-font-size); color:var(--color1); line-height:140%; }
.TAREA-1{ padding:var(--padding); display:block; width:100%; }
.TAREA-1:focus{ border-color:#86B7FE; box-shadow:0 0 0 0.25rem rgb(13 110 253 / 25%); }
.TAREA-1::placeholder{ color:var(--color3); }
/**/
.WarnTxt1{ margin-top:12px; font-size:10px; font-weight:400; line-height:16px; }
.WarnTxt1 > div + div{ margin-top:6px; }
/**/
.FormTitle1{ display:flex; align-items:center; }
.FormTitle1 > .text1{ font-weight:400; font-size:22px; color:var(--color1); }
.FormTitle1 > .text2{ font-weight:400; font-size:10px; color:var(--color5); }
/**/
.FormTitle2{ display:flex; align-items:center; border-bottom:2px solid black; padding-bottom:8px; }
.FormTitle2 > .text1{ font-weight:400; font-size:22px; color:var(--color1); }
.FormTitle2 > .text2{ font-weight:400; font-size:10px; color:var(--color5); }
/**/
input:-webkit-autofill{ -webkit-box-shadow:0 0 0 30px #FFFFFF inset; -webkit-text-fill-color:#000000; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{ transition:background-color 5000s ease-in-out 0s; }
/**/
.FilterBtn1{ font-weight:400; font-size:12px; color:var(--color1); height:24px; padding-left:10px; padding-right:10px; }
.FilterBtn1{ display:flex; align-items:center; justify-content:center; }
.FilterBtn1 > .Icon{ margin-left:6px; }
/**/
.FilterTag1{ background-color:white; border:1px solid var(--color6); padding-left:0px; padding-right:0px; }
.FilterTag1{ display:inline-flex; align-items:center; justify-content:center; vertical-align:top; }
.FilterTag1 > .Label{ padding-left:10px; font-weight:400; font-size:10px; color:var(--color1); }
.FilterTag1 > .CloseBtn{ width:27px; height:27px; display:flex; align-items:center; justify-content:center; }
/**/
.TabUi1{ @apply grid grid-cols-[repeat(auto-fit,minmax(0,1fr))] items-center justify-center gap-[0]; }
.TabButton1{ @apply h-[54px] text-[12px] font-[400] text-[var(--color1)] border-solid border-b-[1px] border-b-[var(--color6)] [&.On]:font-[600] [&.On]:border-b-[var(--color1)]; }
/**/
.Table1{ @apply w-full border-t-[3px] border-t-[var(--color1)] border-b-[1px] border-b-[var(--color6)]; }
.Table1.NoTop{ @apply border-t-0; }
.Table1.TopMd{ @apply border-t-2; }
.Table1 > thead > tr{ @apply h-[62px] text-[16px] font-[700] text-[var(--color1)]; }
.Table1 > tbody > tr{ @apply text-[var(--color1)] font-[400]; }
.Table1 > tbody > tr > td{ @apply text-center py-[24px] px-[10px] border-[1px] border-[var(--color6)] border-b-0; }
.Table1 > tbody > tr > td:first-child{ border-left:none; }
.Table1 > tbody > tr > td:last-child{ border-right:none; }
.Table1 > tbody > tr > td.Gray{ @apply bg-[#f5f5f5]; }
.Table1.Left > tbody > tr > td{ @apply text-left; }
.Table1.NoPadding > tbody > tr > td{ @apply p-[0]; }
.Table1.NoBorder > tbody > tr > td{ @apply border-x-0; }
.Table1.NoBottom{ @apply border-b-0; }
.Table1.Form{ }
.Table1.Form > tbody > tr > td{ @apply text-left py-[14px]; }
.Table1.Form > tbody > tr > td:nth-child(2n-1){ @apply font-[600] w-[190px] pl-[30px] leading-[36px]; }
.Table1.Form > tbody > tr > td:nth-child(2n-1) + td{ @apply pl-[70px]; }
/**/
.Table2{ display:table; table-layout:fixed; border-collapse:collapse; width:100%; }
.Table2 > * > tr > *{ color:#161616; font-size:12px; font-weight:400; border:1px solid #ECECEC; padding:20px 15px; }
.Table2 > * > tr > th{ font-weight:600; background-color:#F5F5F5; }
.Table2 > * > tr > td{ }
/**/
.Table3{ @apply table table-fixed w-full border-collapse border-t-[2px] border-t-[var(--color1)] border-b-[1px] border-b-[var(--color6)]; }
.Table3.NoTop{ @apply border-t-0; }
.Table3 > thead > tr{ @apply h-[50px] text-[12px] font-[600] text-[var(--color1)]; }
.Table3 > tbody > tr{ @apply text-[var(--color1)] text-[12px] font-[400]; }
.Table3 > tbody > tr > td{ @apply text-left py-[14px] px-0 border-[1px] border-[var(--color6)] border-b-0; }
.Table3 > tbody > tr > td:first-child{ @apply border-l-0 font-[600]; }
.Table3 > tbody > tr > td:last-child{ @apply border-r-0; }
.Table3 > tbody > tr > td.Gray{ @apply bg-[#f5f5f5]; }
.Table3.NoPadding > tbody > tr > td{ @apply p-0; }
.Table3.NoBorder > tbody > tr > td{ @apply border-x-0; }
.Table3.NoBottom{ @apply border-b-0; }
/**/
.Table4{ @apply table table-fixed w-full border-collapse; }
.Table4 > * > tr{ @apply h-[40px] text-[var(--color1)] text-[14px] font-[400] text-center; }
.Table4 > * > tr > th{ @apply font-[600] bg-[var(--color6)] border-[1px] border-[var(--color3)]; }
.Table4 > * > tr > td{ @apply bg-white border-[1px] border-[var(--color3)]; }
.Table4 > thead > tr > td.Gray{ @apply bg-[var(--color7)]; }
/**/
.ButtonCommon{ display:inline-flex; align-items:center; justify-content:center; gap:0.2em; }
.ButtonCommon{ @apply px-[1.25em] border-[1px] border-solid whitespace-nowrap; }
.ButtonCommon[disabled]{ @apply bg-[var(--color6)] border-[#cecece] text-[var(--color3)]; }
.ButtonXl{ @apply ButtonCommon h-[58px] text-[18px] font-[600]; }
.ButtonXl.Round{ @apply rounded-[4px]; }
.ButtonLg{ @apply ButtonCommon h-[48px] text-[16px] font-[500]; }
.ButtonLg.Round{ @apply rounded-[4px]; }
.ButtonMd{ @apply ButtonCommon h-[36px] text-[14px] font-[400]; }
.ButtonMd.Round{ @apply rounded-[2px]; }
.ButtonSm{ @apply ButtonCommon h-[28px] text-[12px] font-[400]; }
.ButtonSm.Round{ @apply rounded-[2px]; }
.ButtonStyle1{ @apply border-[var(--color1)] bg-[white] text-[var(--color1)]; }
.ButtonStyle2{ @apply border-[var(--color1)] bg-[var(--color1)] text-[white]; }
.ButtonStyle3{ @apply border-[var(--color3)] bg-[var(--color6)] text-[var(--color15)]; }
.ButtonStyle3.hover,
.ButtonStyle3:hover{ @apply bg-[var(--color7)]; }
.ButtonStyle4{ @apply border-[var(--color3)] bg-[white] text-[var(--color1)]; }
.ButtonStyle4.hover,
.ButtonStyle4:hover{ @apply bg-[var(--color7)]; }
.Button3{ @apply inline-flex h-[44px] flex-row items-center justify-center gap-[0] border-[1px] border-solid border-[var(--color3)] px-[20px] hover:bg-[var(--color3)]; }
.Button3 > .Icon{ @apply ml-[-10px] mr-[3px] flex aspect-square w-[20px] flex-row items-center justify-center gap-[0]; }
.Button3 > .Text{ @apply text-[14px] font-[400] leading-[28px] text-[var(--color1)] }
.Button5{ @apply flex h-[30px] w-[32px] flex-row items-center justify-center gap-[0] border-[1px] border-solid border-[var(--color6)]; }
.Button7{ @apply inline-flex h-[25px] flex-row items-center justify-center bg-[var(--color6)] text-[10px] font-[400] text-[var(--color1)]; }
.Button8-1{ @apply inline-flex h-[34px] flex-row items-center justify-center gap-[0] rounded-[17px] border-[1px] bg-[#FE3839] border-solid border-[#FE3839] px-[10px]; }
.Button8-2{ @apply inline-flex h-[34px] flex-row items-center justify-center gap-[0] rounded-[17px] border-[1px] border-solid border-[#FE3839] px-[10px]; }
.Button9-1{ @apply h-[44px] border-[1px] border-solid border-[var(--color1)] bg-[white] text-[14px] font-[400] text-[var(--color1)]; }
.Button9-2{ @apply h-[44px] border-[1px] border-solid border-[var(--color1)] bg-[var(--color1)] text-[14px] font-[400] text-[white]; }
.Button10{ @apply px-[45px] rounded-[25px] bg-[#2a2a2a] min-w-[168px] h-[200px] flex-col inline-flex items-center justify-center gap-[0]; }
.Button10 .Text1{ font-weight:600; font-size:18px; color:white; }
.Button10 .Box1{ margin-top:38px; display:flex; align-items:center; justify-content:center; }
.Button10 .Text2{ font-weight:400; font-size:36px; color:var(--color2); border-bottom:2px solid var(--color2); }
.Button10 .Text3{ margin-left:3px; font-weight:600; font-size:22px; color:white; }
.Button11-1{ @apply h-[60px] bg-[var(--color7)] text-[14px] text-[var(--color1)]; }
.Button11-2{ @apply h-[60px] bg-[var(--color1)] text-[14px] text-[white]; }
.Button12-1{ @apply whitespace-nowrap px-[18px] inline-flex h-[36px] flex-row items-center justify-center rounded-[2px] border-[1px] border-solid border-[var(--color6)] text-[12px] font-[400] text-[var(--color1)]; }
.Button12-2{ @apply whitespace-nowrap px-[20px] inline-flex h-[36px] flex-row items-center justify-center rounded-[2px] border-[1px] bg-[var(--color1)] border-solid border-[var(--color1)] text-[12px] font-[400] text-white; }
/**/
.PopupButton{ @apply h-[58px] text-[14px] font-[600] border-[1px] border-solid; }
.PopupButton1{ @apply PopupButton text-[var(--color1)] border-[var(--color7)] bg-[var(--color7)]; }
.PopupButton2{ @apply PopupButton text-[white] border-[var(--color1)] bg-[var(--color1)]; }
.PopupButton3{ @apply PopupButton text-[var(--color1)] border-[var(--color1)] bg-[white]; }
/**/
.ColorButton{ @apply inline-flex aspect-square flex-row items-center justify-center rounded-full border-[1px] border-solid; }
.ColorButton34{ @apply ColorButton w-[34px]; }
.ColorButton30{ @apply ColorButton w-[30px]; }
.ColorButton24{ @apply ColorButton w-[24px]; }
.ColorButton24 > img{ width:8px; }
.ColorButton20{ @apply ColorButton w-[20px]; }
.ColorButton20 > img{ width:8px; }
.ColorButton16{ @apply ColorButton w-[16px]; }
.ColorButton16 > img{ width:8px; }
/**/
.SizeButton{ @apply flex flex-row items-center justify-center border-solid border-[1px]; }
.SizeButtonNormal{ @apply border-[var(--color6)] bg-[white] font-[400] text-[12px] text-[var(--color1)]; }
.SizeButtonNormal.On{ @apply border-[var(--color1)]; }
.SizeButtonNormal.Disabled{ @apply bg-[var(--color6)] text-[var(--color3)] pointer-events-none; }
.SizeButton36{ @apply w-[65px] h-[36px] SizeButton SizeButtonNormal; }
.SizeButton34{ @apply w-[60px] h-[34px] SizeButton SizeButtonNormal; }
.SizeButton32{ @apply w-[54px] h-[32px] SizeButton SizeButtonNormal; }
.SizeButton28{ @apply w-[47px] h-[28px] SizeButton SizeButtonNormal; }
/**/
.Title-fc63826d{ @apply text-[var(--color1)] text-[14px] font-[700] leading-[40px]; }
/**/
.TableUi{ table-layout:fixed; border-collapse:collapse; width:100%; }
.TableUi{ border-top:3px solid var(--color1); border-bottom:1px solid var(--color6); }
.TableUi.CenterMode{ text-align:center; }
.TableUi > * > tr{ }
.TableUi > * > tr > *{ border:1px solid var(--color6); padding:10px; }
.TableUi > * > tr > th{ font-weight:700; background-color:#FFFFD4; }
.TableUi > thead{ }
.TableUi > tbody{ }
/**/
.Ul-f7c531377542{ }
.Ul-f7c531377542 > li{ position:relative; padding-left:14px; }
.Ul-f7c531377542 > li + li{ margin-top:6px; }
.Ul-f7c531377542 > li:before{ border-radius:100%; background-color:var(--color1); width:3px; height:3px; margin-top:-2px; top:9px; left:0px; display:inline-block; content:''; position:absolute; z-index:3; background-position:center; background-repeat:no-repeat; }
/**/
.SelectBox1{ position:relative; display:inline-block; }
.SelectBox1{ border:1px solid var(--color3); border-radius:2px; height:36px; box-sizing:border-box; outline:none; }
.SelectBox1{ font-weight:400; font-size:14px; color:var(--color1); }
.SelectBox1 > button{ position:relative; width:100%; height:100%; padding-left:10px; padding-right:calc(14px + 20px); text-align:left; white-space:nowrap; }
.SelectBox1 > button > div{ font-weight:400; font-size:14px; color:var(--color1); }
.SelectBox1 > button > div{ width:100%; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.SelectBox1 > button:after{ background-image:url(/icons_pc/zco_64.svg); width:20px; height:100%; display:inline-block; content:''; background-position:center; background-repeat:no-repeat; }
.SelectBox1.On > button:after{ transform:rotate(180deg); }
.SelectBox1 > button:after{ position:absolute; top:0; right:14px; }
.SelectBox1 > .Options{ border:1px solid var(--color6); padding:5px 4px; border-radius:4px; background-color:white; }
.SelectBox1 > .Options{ min-width:100%; position:absolute; z-index:10; margin-top:6px; }
.SelectBox1 > .Options{ display:none; }
.SelectBox1.On > .Options{ display:block; }
.SelectBox1 > .Options > button{ padding:0 10px; width:100%; height:34px; text-align:left; display:block; border-radius:4px; }
.SelectBox1 > .Options > button{ font-weight:400; font-size:14px; color:var(--color1); }
.SelectBox1 > .Options > button{ white-space:nowrap; }
.SelectBox1 > .Options > button:hover{ background-color:var(--color1); color:white; }
/**/
.SelectUI1{ cursor:pointer; border:1px solid var(--color6); height:36px; border-radius:5px; appearance:none; }
.SelectUI1{ font-weight:400; font-size:12px; color:var(--color1); padding-left:10px; padding-right:34px; outline:none; }
.SelectUI1{ background-image:url(/icons/zco_54.svg); background-repeat:no-repeat; background-position:right 5px center; }
/**/
.AgreeBox1{ background-color:var(--color7); border:1px solid var(--color6); padding:20px; }
.AgreeBox1{ color:var(--color1); font-size:14px; font-weight:400; line-height:20px; }
/**/
.Title-1{ display:flex; align-items:center; gap:12px; padding-top:13px; padding-bottom:13px; }
.Title-1.BottomBorder{ border-bottom:2px solid var(--color1); }
.Title-1 .Txt1{ font-weight:700; font-size:14px; color:var(--color1); }
.Title-1 .Txt2{ font-weight:400; font-size:14px; color:var(--color5); }
/**/
.Title-2{ display:flex; align-items:center; gap:12px; padding-top:12px; padding-bottom:12px; }
.Title-2 .Txt1{ font-weight:700; font-size:18px; color:var(--color1); }
.Title-2 .Txt2{ font-weight:400; font-size:14px; color:var(--color5); }
.Title-3{ display:flex; align-items:center; gap:6px; padding-top:13px; padding-bottom:13px; }
.Title-3.BottomBorder{ border-bottom:2px solid var(--color1); }
.Title-3 .Txt1{ font-weight:700; font-size:14px; color:var(--color1); }
.Title-3 .Txt2{ font-weight:400; font-size:12px; color:var(--color5); }
/**/
.TabUi-1{ @apply grid grid-cols-[repeat(auto-fit,minmax(0,1fr))] gap-[0] items-center justify-center; }
.TabUi-1 > button{ @apply border-solid border-b-[1px] border-b-[var(--color6)] h-[50px]; }
.TabUi-1 > button{ @apply Montserrat text-[var(--color1)] text-[12px] font-[400]; }
.TabUi-1 > button.On{ @apply border-b-[var(--color1)] font-[600]; }
/**/
.TabUi-2{ @apply grid grid-cols-[repeat(auto-fit,minmax(0,1fr))] gap-[0] items-center justify-center; }
.TabUi-2 > button{ @apply text-[var(--color1)] text-[14px] font-[600] h-[48px] border-solid border-[1px] border-[var(--color1)] bg-white; }
.TabUi-2 > button.On{ @apply bg-[var(--color1)] text-white; }
/**/
.BTop1{ @apply border-solid border-t-[1px] border-t-[#ececec]; }
/**/
.ChkUi-1{ @apply appearance-none opacity-100;
  cursor:pointer; background-image:url(/icons/basic/chk_2.svg); background-position:14px 14px; background-repeat:no-repeat; }
.ChkUi-1:checked{ background-color:rgba(255, 255, 255, .5); background-image:url(/icons/basic/chk_2_On.svg); }
/**/
[data-form-hei='Xl']{
  height:var(--form-hei-xl);
  font-size:18px;
  font-weight:700;
  border-radius:4px;
}
[data-form-hei='Lg']{
  height:var(--form-hei-lg);
  font-size:16px;
  font-weight:500;
  border-radius:4px;
}
[data-form-hei='Md']{
  height:var(--form-hei-md);
  font-size:14px;
  font-weight:400;
  border-radius:2px;
}
[data-form-hei='Sm']{
  height:var(--form-hei-sm);
  font-size:12px;
  font-weight:400;
  border-radius:1px;
}
/**/
.FormLinkBox{ display:grid; grid-template-columns:repeat(4, 1fr); align-items:center; gap:5px; flex-wrap:wrap; }
.FormLinkBox .FormLinkMove{ display:flex; align-items:center; justify-content:center; padding:6px 0; font-size:10px; font-weight:400; border-radius:4px; }
/**/
.FormUiBox{ border:1px solid var(--form-border-color); border-top:3px solid var(--color1); }
.FormUiBox .H3{ padding:0.5em; background-color:#FFFFD4; }
.FormUiBox .H4{ margin-bottom:5px; }
.FormUiBox .FormUiList > div{ padding:10px; color:var(--color1); }
.FormUiBox .FormUiList > div:not(:first-child){ border-top:1px solid var(--color6); }
/**/
.InputUi{ display:flex; align-items:center; gap:0px; border:1px solid var(--form-border-color); padding:0px 0.5em; outline:none; }
.InputUi.focus, .InputUi:focus{ border-color:var(--color1); }
.InputUi.error{ border-color:var(--color13); }
.InputUi.readonly{ border-color:var(--form-border-color); background-color:var(--color6); color:var(--color5); }
.InputUi > input{ display:block; outline:none; border:none; flex-grow:1; width:0; height:100%; background-color:transparent; color:inherit; }
.InputUi > input::placeholder{ color:var(--form-border-color); }
.InputUi > button{ font-size:inherit; width:1.5em; height:100%; display:flex; align-items:center; justify-content:center; gap:0px; }
.InputUi > button > img{ width:0.8em; }
/**/
.SelectUi{ position:relative; display:inline-block; }
.SelectUi{ border:1px solid var(--color3); box-sizing:border-box; outline:none; }
.SelectUi{ color:var(--color1); }
.SelectUi.focus{ border-color:var(--color1); }
.SelectUi > button{ position:relative; width:100%; height:100%; padding-left:10px; padding-right:calc(14px + 20px); text-align:left; white-space:nowrap; }
/*.SelectUi > button > div{ font-weight:400; font-size:14px; color:var(--color1); }*/
.SelectUi > button > div{ width:100%; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.SelectUi > button:after{ background-image:url(/icons_pc/zco_64.svg); width:20px; height:100%; display:inline-block; content:''; background-position:center; background-repeat:no-repeat; }
.SelectUi.On{ border-color:#161616; }
.SelectUi.On > button:after{ transform:rotate(180deg); }
.SelectUi > button:after{ position:absolute; top:0; right:14px; }
.SelectUi > .Options{ border:1px solid var(--color6); padding:5px 4px; border-radius:4px; background-color:white; }
.SelectUi > .Options{ min-width:100%; position:absolute; z-index:10; margin-top:6px; }
.SelectUi > .Options{ display:none; }
.SelectUi.On > .Options{ display:block; }
.SelectUi > .Options > button{ padding:0 10px; width:100%; height:34px; text-align:left; display:block; border-radius:4px; }
.SelectUi > .Options > button{ font-weight:400; font-size:14px; color:var(--color1); }
.SelectUi > .Options > button{ white-space:nowrap; }
.SelectUi > .Options > button:hover{ background-color:var(--color1); color:white; }
/**/
.CenterBetween{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:0px;
}
.CenterCenter{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:0px;
}
.CenterLeft{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  gap:0px;
}
.CenterRight{
  display:flex;
  align-items:center;
  justify-content:flex-end;
  gap:0px;
}